.tablePadding1 {
    padding-right: 40px;
    padding-left: 40px;
}

.tablePadding {
    padding-right: 40px;
    padding-left: 40px;
    padding-bottom: 10px;
}

.centerText {
    text-align: center;
}

.centerTable {
    margin-left: auto;
    margin-right: auto;
}

.moveDown {
    max-width: 15%;
    margin: 0 auto;
    text-align: center;
    background-color: #439493;
    position: relative;
    bottom: -12px;
    font-size: 25px;
    padding: 5px;
    margin-bottom: 35px;
    font-size: 28px;
}

.profile {
    background-color: #439493;
    max-width: 65%;
    align-self: center;
    text-align: center;
    border-radius: 2%;
    margin: 0 auto;
}