ul, li{
  list-style: none;
}




form {
  padding: 240px 0;
  position: relative;
}
form input {
  border: 1px solid rgba(252, 252, 252, 0.4);
  background-color: rgba(252, 252, 252, 0.2);
  width: 250px;
  border-radius: 3px;
  font-family: "Source Sans Pro", sans-serif;
  padding: 10px 15px;
  margin: 0 auto 10px auto;
  display: block;
  text-align: center;
  font-size: 18px;
  color: white;
  font-weight: 300;
}

form button {
  border: 1px solid rgba(252, 252, 252, 0.4);
  background-color: white;
  width: 250px;
  border-radius: 3px;
  font-family: "Source Sans Pro", sans-serif;
  padding: 10px 15px;
  margin: 0 auto 10px auto;
  display: block;
  text-align: center;
  font-size: 18px;
  color: #50a3a2;
  font-weight: 300;
}

.incorrectPassword {
  background-color: rgb(201, 30, 30);
}

.passwordInput {
  display: none;
}

.calendarWidth {
  max-width: 70%;
  border: 5px solid;
  justify-content: center !important;
}

.handleCancel {
  padding: 2px;
  background-color: #56a0a1;
  color: #fff;
  border-color: transparent;
  border-radius: 5%;
}

.user {
  border-radius: 1%;
  padding-top: 10px;
  margin: 9px;
  background-color: #439493;
  border-color: black;
}

  /* padding:0.6em 2em;
  border-radius: 8px;
  color:#fff; 
  background-color:#56a0a1; 
  font-size:1.1em;
  border:0;
  cursor:pointer;
  margin:1em; */
  /* background: #50a3a2; */

  .head {
    background-color: #439493;
    margin: 20px;
    text-align: center;
    border-radius: 2%;
  }

  .header {
    padding-top: 50px;
    position: relative;
    bottom: -22px;
  }