.logo {
  margin-top: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 150px;
}

.login {
  
  background-color: #439A97;
  text-align: center;
    height: 100rem;
    width: 100%;
}



.change {
  padding: 5px;
  height: 500px;
  margin-left: 35%;
  margin-top: -15px;
  position: absolute;
  text-align: center;
   bottom:10px;
    background-color: #1a9793
}