.modalFont {
    margin-top: 3%;
    max-height: 90%;
    color: black;
    font-size: 100;
  }
  /* background-color: #439A97; */
  /* background-color: #439A97; */
  .formStyling {
    padding-top: 5px;
    max-height: fit-content;
}

.centerCalendar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttonStyling {
  width: 90px;
  height: 40px;
}

.centerTimeChoices {
  display: inline-flex;
  max-width: 1000px;
  justify-content: center;
}

.modalHeader {
  justify-content: center;
  text-align: center;
}

.button {
  padding: 2px;
  background-color: #439493;
  color: #fff;
  border-color: transparent;
  border-radius: 5%;
  font-size: 26px;
}

.button:hover {
  background-color: #439A97;
  outline-color: gray;
  border-color: #155a59;
}