form {
  padding: 240px 0;
  position: relative;
}
form input {
  border: 1px solid rgba(252, 252, 252, 0.4);
  background-color: rgba(252, 252, 252, 0.2);
  width: 250px;
  border-radius: 3px;
  font-family: "Source Sans Pro", sans-serif;
  padding: 10px 15px;
  margin: 0 auto 10px auto;
  display: block;
  text-align: center;
  font-size: 18px;
  color: white;
  font-weight: 300;
}

form button {
  border: 1px solid rgba(252, 252, 252, 0.4);
  background-color: white;
  width: 250px;
  border-radius: 3px;
  font-family: "Source Sans Pro", sans-serif;
  padding: 10px 15px;
  margin: 0 auto 10px auto;
  display: block;
  text-align: center;
  font-size: 18px;
  color: #50a3a2;
  font-weight: 300;
}

.modalFont {
  margin-top: 3%;
  max-height: 90%;
  color: black;
  font-size: 100;
}

/* background-color: #439A97; */
/* background-color: #439A97; */
.formStyling {
  padding-top: 5px;
  max-height: fit-content;
}

.centerCalendar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttonStyling {
  width: 90px;
  height: 40px;
}

.centerTimeChoices {
  /* style={{paddingLeft: "40%", maxWidth:"30%"}}
     */
  margin-top: 50px;
  max-width: 30%;
  padding-left: 46%;
  margin-bottom: 50px;
}

.modalHeader {
  justify-content: center;
  text-align: center;
}